.mainContent {
    width: 960px;
    grid-template-areas:
            "profileBlock profileBlock"
            "advertising posts";
    grid-template-columns: 282px 1fr;
    margin: 0 auto;
    display: grid;
    grid-gap: 15px;
}
