.advertising {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, .05);
    width: 282px;
    height: 800px;
    grid-area: advertising;
    padding: 20px;
    font-size: 15px;
}

.advertising button {
    margin-bottom: 18px;
    padding: 5px 10px;
    border: 1px solid grey;
    color: #222222;
    border-radius: 5px;
}

.advertising button:hover {
    background-color: #e3e3e3;
}

.aboutMeBlock, .lookingForAJobBlock, .contacts {
    margin-bottom: 18px;
}

.lookingForAJobDescriptionBlock {
    margin-top: 18px;
}

.headerLookingForAJob, .headerAboutMe, .lookingForAJobDescriptionHeader, .contactHeader {
    color: #222222;
    font-weight: 600;
}

.headerAboutMe, .lookingForAJobDescriptionHeader {
    margin-bottom: 12px;
}

.contact {
    margin-bottom: 5px;
}