.profileBlockForm {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, .05);
    width: 700px;
    height: 800px;
    grid-area: advertising;
    padding: 20px;
    font-size: 15px;
}

.advertising button {
    margin-bottom: 18px;
    padding: 5px 10px;
    border: 1px solid grey;
    color: #222222;
    border-radius: 5px;
}

.advertising button:hover {
    background-color: #e3e3e3;
}

.aboutMeBlock, .lookingForAJobBlock, .contacts, .fullNameBlock {
    margin-bottom: 18px;
}

.lookingForAJobDescriptionBlock {
    margin-top: 18px;
}

.headerlookingForAJob, .headerAboutMe, .lookingForAJobDescriptionHeader, .contactHeader, .headerFullName {
    color: #222222;
    font-weight: 600;
}

.headerAboutMe, .lookingForAJobDescriptionHeader {
    margin-bottom: 12px;
}

.contactsForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.contactForm {
    position: absolute;
    left: 120px;
}

.errorText {
    color: red;
    margin-bottom: 10px;
}

.textariaField {
    width: 300px;
    height: 100px;
}